a#logo {
  display: block;
  margin-bottom: 14px;
  text-align: center;
}

div.left-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px 0px 0px 20px;
  width: 220px;
  min-height: 100%;
  z-index: 0;
}

div#3d {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
}