a#logo {
  display: block;
  margin-bottom: 14px;
}

div.left-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 99%;
  z-index: 0;
  text-align: center;
}

div#3d {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
  height: 99%;
  z-index: -1;
}