body{
  margin: 0px;
  overflow: hidden;
}

a#logo {
  display: block;
  margin-bottom: 14px;
}

div.left-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px 0px 0px 20px;
  width: 190px;
  height: 100%;
  z-index: 0;
}

div#3d {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

div#LayersMenu div#layersmenu {
  padding: 10px 15px 10px 15px;
}

div.menu-toggle-button {
  display:block;
  clear: both;
  margin-bottom: 4px;
}

span.toggle-label {
  display: inline-block;
  width: 120px;
}

div.menu-toggle-button div.toggle {
  float: right;
}